In [1]:
#--> tuple created using paranthesis ot by assigning comma seperated values
#tuple is immutable, tuple can not be modified

tuple1=(10,20,'hello',78,'hi')
tuple2=10,20,'hello',78,'hi'

print(tuple1)
print(tuple2)

(10, 20, 'hello', 78, 'hi')
(10, 20, 'hello', 78, 'hi')

In [2]:
tuple1[1]="hi"   #tuple can not be modified
print(tuple1)

<class 'TypeError'>: 'tuple' object does not support item assignment

In [4]:
t1=(10)
print (type(t1))

<class 'int'>

In [7]:
t1=(10,)
print (type(t1))

<class 'tuple'>

In [8]:
t1=10,
print (type(t1))

<class 'tuple'>

In [9]:
t2=(10,30,20,60,50)   #find maximum element
print(max(t2))

60

In [10]:
t2=10,30,20,60,50   #find minimum element
print(min(t2))

10

In [11]:
t2=10,30,20,60,50    #find sum of elements
print(sum(t2))

170

In [15]:
t2=(10,30,20,60,50)  #to find index of an element
print(t2.index(60))

3

In [16]:
print(t2.count(30)) #to find the count

1

In [ ]:
#methods used in tuple--- max, min, len, sum, index, count